<div class="video-module" id="video_module">
    <div class="video-module-scroll scrollPage">
        <div class="video-module-title THEME-COLOR-DEFAULT column-start">

        </div>
        <div class="video-module-container">
            <div class="content-item MARGIN-BUTTOM WIDTH-5">
                <div class="content-common focusable row-center"></div>
            </div>
            <div class="content-item MARGIN-BUTTOM WIDTH-5">
                <div class="content-common focusable row-center"></div>
            </div>
            <div class="content-item MARGIN-BUTTOM WIDTH-5">
                <div class="content-common focusable row-center"></div>
            </div>
            <div class="content-item MARGIN-BUTTOM WIDTH-5">
                <div class="content-common focusable row-center"></div>
            </div>
            <div class="content-item MARGIN-BUTTOM WIDTH-5">
                <div class="content-common focusable row-center"></div>
            </div>
            <div class="content-item MARGIN-BUTTOM WIDTH-5">
                <div class="content-common focusable row-center"></div>
            </div>
            <div class="content-item MARGIN-BUTTOM WIDTH-5">
                <div class="content-common focusable row-center"></div>
            </div>
            <div class="content-item MARGIN-BUTTOM WIDTH-5">
                <div class="content-common focusable row-center"></div>
            </div>
        </div>
    </div>
</div>