<div class="videorecommend-container" id="video_recommend">
    <!-- 滚动层内容容器 -->
    <div class="scrollPage">
        <div class="video-channel-container" id="video_channel_container">
            <div class="video-channel-icon"></div>
            <div class="video-channel-list" id="video_channel_list">
                <div class="content-common focusable row-center FONT-MEDIUM">Kids</div>
                <div class="content-common focusable row-center FONT-MEDIUM">Sports</div>
                <div class="content-common focusable row-center FONT-MEDIUM">Film</div>
            </div>
        </div>
        <div class="video-content-container">
            <div class="module-container" id="recommend_container_1"></div>
            <div class="module-container" id="recommend_container_2"></div>
            <div class="module-container" id="recommend_container_3"></div>
        </div>
    </div>
</div>