<div class="videobanner MARGIN-BUTTOM" id="video_banner">
    <!-- 背景轮播层 -->
    <div class="videobanner-bg-list" id="video_banner_bg_list">
        <div class="videobanner-item">
            <!-- 说明层 -->
            <div class="videobanner-explain">
                <div class="videobanner-title FONT-LARGE" id="videobanner_title"></div>
                <div class="videobanner-direction FONT-SMALL" id="videobanner_direction"></div>
            </div>
            <div class="videobanner-bg horizontal-background"></div>
            <!-- 图片层 -->
            <img/>
        </div>
        <div class="videobanner-item">
            <!-- 说明层 -->
            <div class="videobanner-explain">
                <div class="videobanner-title FONT-LARGE" id="videobanner_title"></div>
                <div class="videobanner-direction FONT-SMALL" id="videobanner_direction"></div>
            </div>
            <div class="videobanner-bg horizontal-background"></div>
            <!-- 图片层 -->
            <img/>
        </div>
        <div class="videobanner-item">
            <!-- 说明层 -->
            <div class="videobanner-explain">
                <div class="videobanner-title FONT-LARGE" id="videobanner_title"></div>
                <div class="videobanner-direction FONT-SMALL" id="videobanner_direction"></div>
            </div>
            <div class="videobanner-bg horizontal-background"></div>
            <!-- 图片层 -->
            <img/>
        </div>
        <div class="videobanner-item">
            <!-- 说明层 -->
            <div class="videobanner-explain">
                <div class="videobanner-title FONT-LARGE" id="videobanner_title"></div>
                <div class="videobanner-direction FONT-SMALL" id="videobanner_direction"></div>
            </div>
            <div class="videobanner-bg horizontal-background"></div>
            <!-- 图片层 -->
            <img/>
        </div>
    </div>
    <div class="videobanner-container" id="videobanner_container">
        <!-- 推荐层 -->
        <div class="videobanner-rec-container">
            <div class="videobanner-list" id="video_banner_list">
                <div class="content-common focusable"></div>
                <div class="content-common focusable"></div>
                <div class="content-common focusable"></div>
                <div class="content-common focusable"></div>
            </div>
        </div>
    </div>
</div>