<div class="play-video" id="play_video">
    <!-- 视频层 -->
    <div class="media-container" id="media_container">

    </div>
    <div class="play-container vertical-background container-hidden" id="play_container" is_play="false">
        <!-- 选集层 & 推荐层 -->
        <div class="video-pro-rec-container" id="play_pro_rec_container">
            <div class="scrollPage">
                <div class="video-play-opt" id="play_play_opt">
                    <div class="video-opt-list row-start" id="play_opt_list">
                        <div class="scrollPage"></div>
                    </div>
                    <div class="video-opt-select row-start" id="play_opt_select"></div>
                </div>
                <div class="video-recommend" id="video_play_recommend"></div>
            </div>
        </div>
    </div>
</div>