<div class="watch-video" id="watch_video">
    <div class="video-container horizontal-background" id="video_container">
        <!-- 说明层 -->
        <div class="video-explain" id="video_explain">
            <div class="video-title FONT-LARGE" id="video_title"></div>
            <div class="video-direction FONT-SMALL" id="video_direction"></div>
        </div>
        <div class="video-feature-button row-start" id="video_buttons">
            <div class="video-button row-center focusable" id="video_play"><img src="/app/static/image/play-icon.webp" /></div>
            <div class="video-button row-center focusable" id="video_vip"><img src="/app/static/image/member-icon.webp" /></div>
        </div>
        <!-- 选集层 & 推荐层 -->
        <div class="video-pro-rec-container" id="video_pro_rec_container">
            <div class="scrollPage">
                <div class="video-play-opt" id="video_play_opt">
                    <div class="video-opt-list row-start" id="video_opt_list">
                        <div class="scrollPage"></div>
                    </div>
                    <div class="video-opt-select row-start" id="video_opt_select"></div>
                </div>
                <div class="video-recommend" id="video_watch_recommend"></div>
            </div>
        </div>
    </div>
</div>